<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yan.dao.mapper.DeptMapper">
  <resultMap id="BaseResultMap" type="com.yan.pojo.Dept">
    <id column="DEPTNO" jdbcType="DECIMAL" property="deptno" />
    <result column="DNAME" jdbcType="VARCHAR" property="dname" />
    <result column="LOC" jdbcType="VARCHAR" property="loc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    DEPTNO, DNAME, LOC
  </sql>
  <select id="selectByExample" parameterType="com.yan.pojo.DeptExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SCOTT.DEPT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SCOTT.DEPT
    where DEPTNO = #{deptno,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from SCOTT.DEPT
    where DEPTNO = #{deptno,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.yan.pojo.DeptExample">
    delete from SCOTT.DEPT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yan.pojo.Dept">
    insert into SCOTT.DEPT (DEPTNO, DNAME, LOC
      )
    values (#{deptno,jdbcType=DECIMAL}, #{dname,jdbcType=VARCHAR}, #{loc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yan.pojo.Dept">
    insert into SCOTT.DEPT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deptno != null">
        DEPTNO,
      </if>
      <if test="dname != null">
        DNAME,
      </if>
      <if test="loc != null">
        LOC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deptno != null">
        #{deptno,jdbcType=DECIMAL},
      </if>
      <if test="dname != null">
        #{dname,jdbcType=VARCHAR},
      </if>
      <if test="loc != null">
        #{loc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yan.pojo.DeptExample" resultType="java.lang.Integer">
    select count(*) from SCOTT.DEPT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SCOTT.DEPT
    <set>
      <if test="record.deptno != null">
        DEPTNO = #{record.deptno,jdbcType=DECIMAL},
      </if>
      <if test="record.dname != null">
        DNAME = #{record.dname,jdbcType=VARCHAR},
      </if>
      <if test="record.loc != null">
        LOC = #{record.loc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SCOTT.DEPT
    set DEPTNO = #{record.deptno,jdbcType=DECIMAL},
      DNAME = #{record.dname,jdbcType=VARCHAR},
      LOC = #{record.loc,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yan.pojo.Dept">
    update SCOTT.DEPT
    <set>
      <if test="dname != null">
        DNAME = #{dname,jdbcType=VARCHAR},
      </if>
      <if test="loc != null">
        LOC = #{loc,jdbcType=VARCHAR},
      </if>
    </set>
    where DEPTNO = #{deptno,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yan.pojo.Dept">
    update SCOTT.DEPT
    set DNAME = #{dname,jdbcType=VARCHAR},
      LOC = #{loc,jdbcType=VARCHAR}
    where DEPTNO = #{deptno,jdbcType=DECIMAL}
  </update>
  <resultMap id="BaseResultMap" type="com.yan.pojo.Dept">
    <id column="DEPTNO" jdbcType="DECIMAL" property="deptno" />
    <result column="DNAME" jdbcType="VARCHAR" property="dname" />
    <result column="LOC" jdbcType="VARCHAR" property="loc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    DEPTNO, DNAME, LOC
  </sql>
  <select id="selectByExample" parameterType="com.yan.pojo.DeptExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SCOTT.DEPT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SCOTT.DEPT
    where DEPTNO = #{deptno,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from SCOTT.DEPT
    where DEPTNO = #{deptno,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.yan.pojo.DeptExample">
    delete from SCOTT.DEPT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yan.pojo.Dept">
    insert into SCOTT.DEPT (DEPTNO, DNAME, LOC
      )
    values (#{deptno,jdbcType=DECIMAL}, #{dname,jdbcType=VARCHAR}, #{loc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yan.pojo.Dept">
    insert into SCOTT.DEPT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deptno != null">
        DEPTNO,
      </if>
      <if test="dname != null">
        DNAME,
      </if>
      <if test="loc != null">
        LOC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deptno != null">
        #{deptno,jdbcType=DECIMAL},
      </if>
      <if test="dname != null">
        #{dname,jdbcType=VARCHAR},
      </if>
      <if test="loc != null">
        #{loc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yan.pojo.DeptExample" resultType="java.lang.Integer">
    select count(*) from SCOTT.DEPT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SCOTT.DEPT
    <set>
      <if test="record.deptno != null">
        DEPTNO = #{record.deptno,jdbcType=DECIMAL},
      </if>
      <if test="record.dname != null">
        DNAME = #{record.dname,jdbcType=VARCHAR},
      </if>
      <if test="record.loc != null">
        LOC = #{record.loc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SCOTT.DEPT
    set DEPTNO = #{record.deptno,jdbcType=DECIMAL},
      DNAME = #{record.dname,jdbcType=VARCHAR},
      LOC = #{record.loc,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yan.pojo.Dept">
    update SCOTT.DEPT
    <set>
      <if test="dname != null">
        DNAME = #{dname,jdbcType=VARCHAR},
      </if>
      <if test="loc != null">
        LOC = #{loc,jdbcType=VARCHAR},
      </if>
    </set>
    where DEPTNO = #{deptno,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yan.pojo.Dept">
    update SCOTT.DEPT
    set DNAME = #{dname,jdbcType=VARCHAR},
      LOC = #{loc,jdbcType=VARCHAR}
    where DEPTNO = #{deptno,jdbcType=DECIMAL}
  </update>
  <resultMap id="BaseResultMap" type="com.yan.pojo.Dept">
    <id column="DEPTNO" jdbcType="DECIMAL" property="deptno" />
    <result column="DNAME" jdbcType="VARCHAR" property="dname" />
    <result column="LOC" jdbcType="VARCHAR" property="loc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    DEPTNO, DNAME, LOC
  </sql>
  <select id="selectByExample" parameterType="com.yan.pojo.DeptExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from DEPT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DEPT
    where DEPTNO = #{deptno,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from DEPT
    where DEPTNO = #{deptno,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.yan.pojo.DeptExample">
    delete from DEPT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yan.pojo.Dept">
    insert into DEPT (DEPTNO, DNAME, LOC
      )
    values (#{deptno,jdbcType=DECIMAL}, #{dname,jdbcType=VARCHAR}, #{loc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yan.pojo.Dept">
    insert into DEPT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deptno != null">
        DEPTNO,
      </if>
      <if test="dname != null">
        DNAME,
      </if>
      <if test="loc != null">
        LOC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deptno != null">
        #{deptno,jdbcType=DECIMAL},
      </if>
      <if test="dname != null">
        #{dname,jdbcType=VARCHAR},
      </if>
      <if test="loc != null">
        #{loc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yan.pojo.DeptExample" resultType="java.lang.Integer">
    select count(*) from DEPT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update DEPT
    <set>
      <if test="record.deptno != null">
        DEPTNO = #{record.deptno,jdbcType=DECIMAL},
      </if>
      <if test="record.dname != null">
        DNAME = #{record.dname,jdbcType=VARCHAR},
      </if>
      <if test="record.loc != null">
        LOC = #{record.loc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update DEPT
    set DEPTNO = #{record.deptno,jdbcType=DECIMAL},
      DNAME = #{record.dname,jdbcType=VARCHAR},
      LOC = #{record.loc,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yan.pojo.Dept">
    update DEPT
    <set>
      <if test="dname != null">
        DNAME = #{dname,jdbcType=VARCHAR},
      </if>
      <if test="loc != null">
        LOC = #{loc,jdbcType=VARCHAR},
      </if>
    </set>
    where DEPTNO = #{deptno,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yan.pojo.Dept">
    update DEPT
    set DNAME = #{dname,jdbcType=VARCHAR},
      LOC = #{loc,jdbcType=VARCHAR}
    where DEPTNO = #{deptno,jdbcType=DECIMAL}
  </update>
  <resultMap id="BaseResultMap" type="com.yan.pojo.Dept">
    <id column="DEPTNO" jdbcType="DECIMAL" property="deptno" />
    <result column="DNAME" jdbcType="VARCHAR" property="dname" />
    <result column="LOC" jdbcType="VARCHAR" property="loc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    DEPTNO, DNAME, LOC
  </sql>
  <select id="selectByExample" parameterType="com.yan.pojo.DeptExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from DEPT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DEPT
    where DEPTNO = #{deptno,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from DEPT
    where DEPTNO = #{deptno,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.yan.pojo.DeptExample">
    delete from DEPT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yan.pojo.Dept">
    insert into DEPT (DEPTNO, DNAME, LOC
      )
    values (#{deptno,jdbcType=DECIMAL}, #{dname,jdbcType=VARCHAR}, #{loc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yan.pojo.Dept">
    insert into DEPT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deptno != null">
        DEPTNO,
      </if>
      <if test="dname != null">
        DNAME,
      </if>
      <if test="loc != null">
        LOC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deptno != null">
        #{deptno,jdbcType=DECIMAL},
      </if>
      <if test="dname != null">
        #{dname,jdbcType=VARCHAR},
      </if>
      <if test="loc != null">
        #{loc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yan.pojo.DeptExample" resultType="java.lang.Integer">
    select count(*) from DEPT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update DEPT
    <set>
      <if test="record.deptno != null">
        DEPTNO = #{record.deptno,jdbcType=DECIMAL},
      </if>
      <if test="record.dname != null">
        DNAME = #{record.dname,jdbcType=VARCHAR},
      </if>
      <if test="record.loc != null">
        LOC = #{record.loc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update DEPT
    set DEPTNO = #{record.deptno,jdbcType=DECIMAL},
      DNAME = #{record.dname,jdbcType=VARCHAR},
      LOC = #{record.loc,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yan.pojo.Dept">
    update DEPT
    <set>
      <if test="dname != null">
        DNAME = #{dname,jdbcType=VARCHAR},
      </if>
      <if test="loc != null">
        LOC = #{loc,jdbcType=VARCHAR},
      </if>
    </set>
    where DEPTNO = #{deptno,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yan.pojo.Dept">
    update DEPT
    set DNAME = #{dname,jdbcType=VARCHAR},
      LOC = #{loc,jdbcType=VARCHAR}
    where DEPTNO = #{deptno,jdbcType=DECIMAL}
  </update>
</mapper>