<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="20 seconds" debug="false">
	<substitutionProperty name="log.base" value="/log/boss/Log" />
	<jmxConfigurator />
	
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>
	
	<appender name="logfile-service" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${log.base}_boss.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}.%d{yyyy-MM-dd}_boss.log.zip</FileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>
	
	<logger name="com.tstar">
		<level value="DEBUG" />
	</logger>
	
	<logger name="org.springframework">
		<level value="WARN" />
	</logger>
	
	<logger name="org.activiti">
		<level value="INFO" />
	</logger>
	
	<logger name="org.apache.ibatis.transaction.managed.ManagedTransaction">
		<level value="WARN" />
	</logger>
	
	<logger name="com.opensymphony.xwork2">
		<level value="WARN" />
	</logger>
	
	<root>
		<level value="DEBUG" />
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile-service" />
	</root>
</configuration>
