<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yan.dao.mapper.EmpMapper" >
  
  <!-- association级联查询 -->
  <select id="findByAss" resultMap="BaseResultMap1" parameterType="short">
  	select a.ename,a.job,a.mgr,a.hiredate,a.sal,a.comm,a.deptno
  	from emp a,dept b
  	where a.deptno=b.deptno and a.empno=#{empno}
  </select>
  
  <!-- 根据ID：empno查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from SCOTT.EMP
    where EMPNO = #{empno,jdbcType=DECIMAL}
  </select>
  <!-- 动态SQL -->
  	<!-- if -->
  <select id="selectByDynParamsIf" resultMap="BaseResultMap" parameterType="com.yan.po.Emp">
  	select 
  		<include refid="Base_Column_List"/>
  		from emp where 1=1
  	<if test="empno != null and empno != ''">
  		and empno=#{empno,jdbcType=DECIMAL}
  	</if>
  	<if test="ename != null and ename != ''">
  		and ename like ('%'||#{ename}||'%') 
  	</if>
  </select>
  <!-- choose、when、otherwise -->
  <select id="selectByDynParamsChoose" resultMap="BaseResultMap" parameterType="com.yan.po.Emp">
  	select * from emp 
  	<trim prefix="where" prefixOverrides="and" suffixOverrides=",">
  	<choose>
  		<when test="empno != null and empno != ''">
  			and empno = #{empno},
  		</when>
  		<when test="empno == null and ename != null and ename != ''">
  			and ename like ('%'||#{ename}||'%') 
  		</when>
  		<otherwise>
  			and rownum = 1
  		</otherwise>
  	</choose>
  	</trim>
  </select>
<!--   <select id="selectByDynParamsChoose" resultMap="BaseResultMap" parameterType="com.yan.po.Emp">
  	select * from emp where 1=1
  	<choose>
  		<when test="empno != null and empno != ''">
  			and empno = #{empno}
  		</when>
  		<when test="empno == null and ename != null and ename != ''">
  			and ename like ('%'||#{ename}||'%') 
  		</when>
  		<otherwise>
  			and rownum = 1
  		</otherwise>
  	</choose>
  </select> -->
  <!-- collection指集合类名，数组则为array
  	List则为list或collection，
  	Map类型参考  	https://my.oschina.net/linuxred/blog/38802
   -->
  <select id="selectByDynParamsForeach" resultType="emp" >
  	select * from emp where deptno in
	<foreach collection="collection" index="index" item="item" open="(" close=")" separator=",">
		#{item}
	</foreach>
  </select>
  <!-- #### EMP表的所有列 ##### -->
    <sql id="Base_Column_List" >
    EMPNO, ENAME, JOB, MGR, HIREDATE, SAL, COMM, DEPTNO
  </sql>
  
  <!-- 普通结果集映射 -->
  <resultMap id="BaseResultMap" type="com.yan.po.Emp" >
    <id column="EMPNO" property="empno" jdbcType="DECIMAL" />
    <result column="ENAME" property="ename" jdbcType="VARCHAR" />
    <result column="JOB" property="job" jdbcType="VARCHAR" />
    <result column="MGR" property="mgr" jdbcType="DECIMAL" />
    <result column="HIREDATE" property="hiredate" jdbcType="DATE" />
    <result column="SAL" property="sal" jdbcType="DECIMAL" />
    <result column="COMM" property="comm" jdbcType="DECIMAL" />
    <result column="DEPTNO" property="deptno" jdbcType="DECIMAL" />
  </resultMap>
  
  <!-- association级联结果集映射 -->
  <resultMap id="BaseResultMap1" type="com.yan.po.Emp" >
    <id column="EMPNO" property="empno" jdbcType="DECIMAL" />
    <result column="ENAME" property="ename" jdbcType="VARCHAR" />
    <result column="JOB" property="job" jdbcType="VARCHAR" />
    <result column="MGR" property="mgr" jdbcType="DECIMAL" />
    <result column="HIREDATE" property="hiredate" jdbcType="DATE" />
    <result column="SAL" property="sal" jdbcType="DECIMAL" />
    <result column="COMM" property="comm" jdbcType="DECIMAL" />
    <result column="DEPTNO" property="deptno" jdbcType="DECIMAL" />
    <association property="dept" column="deptno" select="com.yan.dao.mapper.DeptMapper.selectByPrimaryKey"></association>
  </resultMap>
</mapper>