<?xml version="1.0" encoding="UTF-8"?>
<ReportServerParameter xmlVersion="20120203" releaseVersion="7.0.0">
<ServerLogLevel>
<![CDATA[WARNING]]></ServerLogLevel>
<LOGCNG/>
<FARRAY/>
<Write serverCharacterEncoding="GBK"/>
<GZip run="true"/>
<Lic useLock="false"/>
<ServletMapping pattern="ReportServer"/>
<ChromeChart downLocal="false"/>
<ReportWebAttr>
<ServerPrinter/>
<WebPageContent>
<ToolBars>
<ToolBarManager>
<Location>
<Embed position="1"/>
</Location>
<ToolBar>
<Widget class="com.fr.report.web.ui.impl.page.First">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[${i18n("ReportServerP-First")}]]></Text>
<IconName>
<![CDATA[first]]></IconName>
</Widget>
<Widget class="com.fr.report.web.ui.impl.page.Previous">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[${i18n("ReportServerP-Previous")}]]></Text>
<IconName>
<![CDATA[previous]]></IconName>
</Widget>
<Widget class="com.fr.report.web.ui.impl.page.PageNavi">
<WidgetAttr/>
</Widget>
<Widget class="com.fr.report.web.ui.impl.page.Next">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[${i18n("ReportServerP-Next")}]]></Text>
<IconName>
<![CDATA[next]]></IconName>
</Widget>
<Widget class="com.fr.report.web.ui.impl.page.Last">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[${i18n("ReportServerP-Last")}]]></Text>
<IconName>
<![CDATA[last]]></IconName>
</Widget>
<Widget class="com.fr.report.web.ui.impl.FlashPrint">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[${i18n("Utils-Print[Client]A")}]]></Text>
<IconName>
<![CDATA[flashprint]]></IconName>
</Widget>
<Widget class="com.fr.report.web.ui.impl.Export">
<WidgetAttr/>
<Text>
<![CDATA[${i18n("Export")}]]></Text>
<IconName>
<![CDATA[export]]></IconName>
<Buttons pdf="true" excelP="true" excelO="true" excelS="true" word="true" image="true"/>
</Widget>
<Widget class="com.fr.report.web.ui.impl.PDFPrint">
<WidgetAttr disabled="true"/>
<Text>
<![CDATA[${i18n("Utils-Print[Client]A")}]]></Text>
<IconName>
<![CDATA[pdfprint]]></IconName>
<isPopup>
<![CDATA[true]]></isPopup>
</Widget>
</ToolBar>
</ToolBarManager>
</ToolBars>
<WebPage isPage="false" isShowAsImage="false" isAutoScale="false" isTDHeavy="false"/>
</WebPageContent>
<WebViewContent>
<ToolBars/>
</WebViewContent>
<WebWriteContent>
<ToolBars/>
<SelectedColor color="-10033153"/>
</WebWriteContent>
</ReportWebAttr>
<EmailManager mailHost="" password="___" user="" fromEmailAddress=""/>
<Parameters/>
<Styles/>
<FlashPrint popupFlashPrintSetting="true" fitPaper="false"/>
<PdfPrint popupPdfPrintSetting="true"/>
<AppletPrint popupAppletPrintSetting="true"/>
<writeShortCuts writeShortCuts="true"/>
<CustomLocale>
<Parameters/>
<ColumnNames>
<![CDATA[]]></ColumnNames>
<ColumnTypes>
<![CDATA[]]></ColumnTypes>
</CustomLocale>
</ReportServerParameter>
