<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tstar.callcenter.dao.autogenerate.KnowledgeQuestionMapper" >
  <resultMap id="BaseResultMap" type="com.tstar.callcenter.model.autogenerate.KnowledgeQuestion" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="SUB_USER" property="subUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CONTENT, SUB_USER
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tstar.callcenter.model.autogenerate.KnowledgeQuestionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_CC_KL_QU
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_CC_KL_QU
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_CC_KL_QU
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.tstar.callcenter.model.autogenerate.KnowledgeQuestionExample" >
    delete from T_CC_KL_QU
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tstar.callcenter.model.autogenerate.KnowledgeQuestion" >
    insert into T_CC_KL_QU (ID, CONTENT, SUB_USER
      )
    values (#{id,jdbcType=DECIMAL}, #{content,jdbcType=VARCHAR}, #{subUser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tstar.callcenter.model.autogenerate.KnowledgeQuestion" >
  <selectKey resultType="long" keyProperty="id" order="BEFORE" >
      select T_CC_KL_QU_SEQ.nextval from dual
    </selectKey>
    insert into T_CC_KL_QU
    <trim prefix="(" suffix=")" suffixOverrides="," >
        ID,
      <if test="content != null" >
        CONTENT,
      </if>
      <if test="subUser != null" >
        SUB_USER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
   
        #{id,jdbcType=DECIMAL},
     
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="subUser != null" >
        #{subUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tstar.callcenter.model.autogenerate.KnowledgeQuestionExample" resultType="java.lang.Integer" >
    select count(*) from T_CC_KL_QU
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_CC_KL_QU
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.content != null" >
        CONTENT = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.subUser != null" >
        SUB_USER = #{record.subUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_CC_KL_QU
    set ID = #{record.id,jdbcType=DECIMAL},
      CONTENT = #{record.content,jdbcType=VARCHAR},
      SUB_USER = #{record.subUser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tstar.callcenter.model.autogenerate.KnowledgeQuestion" >
    update T_CC_KL_QU
    <set >
      <if test="content != null" >
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="subUser != null" >
        SUB_USER = #{subUser,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tstar.callcenter.model.autogenerate.KnowledgeQuestion" >
    update T_CC_KL_QU
    set CONTENT = #{content,jdbcType=VARCHAR},
      SUB_USER = #{subUser,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>