<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tstar.crm.dao.OcsInvoiceItemMapper">
  <resultMap id="BaseResultMap" type="com.tstar.crm.model.OcsInvoiceItem">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="INVOICE_ID" jdbcType="VARCHAR" property="invoiceId" />
    <result column="BILL_ID" jdbcType="VARCHAR" property="billId" />
    <result column="BILL_ITEM_ID" jdbcType="VARCHAR" property="billItemId" />
    <result column="BILL_ITEM_CODE" jdbcType="VARCHAR" property="billItemCode" />
    <result column="BILL_ITEM_NAME" jdbcType="VARCHAR" property="billItemName" />
    <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, INVOICE_ID, BILL_ID, BILL_ITEM_ID, BILL_ITEM_CODE, BILL_ITEM_NAME, AMOUNT, REMARK
  </sql>

  <select id="selectByForeignKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ocs_invoice_item
    where INVOICE_ID = #{invoiceId,jdbcType=VARCHAR}
    order by BILL_ITEM_CODE
  </select> 
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ocs_invoice_item
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ocs_invoice_item
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tstar.crm.model.OcsInvoiceItem">
    insert into ocs_invoice_item (ID, INVOICE_ID, BILL_ID, 
      BILL_ITEM_ID, BILL_ITEM_CODE, BILL_ITEM_NAME, 
      AMOUNT, REMARK)
    values (#{id,jdbcType=VARCHAR}, #{invoiceId,jdbcType=VARCHAR}, #{billId,jdbcType=VARCHAR}, 
      #{billItemId,jdbcType=VARCHAR}, #{billItemCode,jdbcType=VARCHAR}, #{billItemName,jdbcType=VARCHAR}, 
      #{amount,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tstar.crm.model.OcsInvoiceItem">
    insert into ocs_invoice_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="invoiceId != null">
        INVOICE_ID,
      </if>
      <if test="billId != null">
        BILL_ID,
      </if>
      <if test="billItemId != null">
        BILL_ITEM_ID,
      </if>
      <if test="billItemCode != null">
        BILL_ITEM_CODE,
      </if>
      <if test="billItemName != null">
        BILL_ITEM_NAME,
      </if>
      <if test="amount != null">
        AMOUNT,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="invoiceId != null">
        #{invoiceId,jdbcType=VARCHAR},
      </if>
      <if test="billId != null">
        #{billId,jdbcType=VARCHAR},
      </if>
      <if test="billItemId != null">
        #{billItemId,jdbcType=VARCHAR},
      </if>
      <if test="billItemCode != null">
        #{billItemCode,jdbcType=VARCHAR},
      </if>
      <if test="billItemName != null">
        #{billItemName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tstar.crm.model.OcsInvoiceItem">
    update ocs_invoice_item
    <set>
      <if test="invoiceId != null">
        INVOICE_ID = #{invoiceId,jdbcType=VARCHAR},
      </if>
      <if test="billId != null">
        BILL_ID = #{billId,jdbcType=VARCHAR},
      </if>
      <if test="billItemId != null">
        BILL_ITEM_ID = #{billItemId,jdbcType=VARCHAR},
      </if>
      <if test="billItemCode != null">
        BILL_ITEM_CODE = #{billItemCode,jdbcType=VARCHAR},
      </if>
      <if test="billItemName != null">
        BILL_ITEM_NAME = #{billItemName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tstar.crm.model.OcsInvoiceItem">
    update ocs_invoice_item
    set INVOICE_ID = #{invoiceId,jdbcType=VARCHAR},
      BILL_ID = #{billId,jdbcType=VARCHAR},
      BILL_ITEM_ID = #{billItemId,jdbcType=VARCHAR},
      BILL_ITEM_CODE = #{billItemCode,jdbcType=VARCHAR},
      BILL_ITEM_NAME = #{billItemName,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>