<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tstar.callcenter.dao.autogenerate.KnowledgeClassMapper" >
  <resultMap id="BaseResultMap" type="com.tstar.callcenter.model.autogenerate.KnowledgeClass" >
    <id column="KLC_ID" property="klcId" jdbcType="DECIMAL" />
    <result column="KLC_NAME" property="klcName" jdbcType="VARCHAR" />
    <result column="KLC_PARENTID" property="klcParentid" jdbcType="DECIMAL" />
    <result column="KLC_ORDER" property="klcOrder" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    KLC_ID, KLC_NAME, KLC_PARENTID, KLC_ORDER
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tstar.callcenter.model.autogenerate.KnowledgeClassExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_CC_KL_CLASS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_CC_KL_CLASS
    where KLC_ID = #{klcId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_CC_KL_CLASS
    where KLC_ID = #{klcId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.tstar.callcenter.model.autogenerate.KnowledgeClassExample" >
    delete from T_CC_KL_CLASS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tstar.callcenter.model.autogenerate.KnowledgeClass" >
  <selectKey resultType="long" keyProperty="klcId" order="BEFORE" >
      select T_CC_KL_CLASS_SEQ.nextval from dual
    </selectKey>
    insert into T_CC_KL_CLASS (KLC_ID, KLC_NAME, KLC_PARENTID, 
      KLC_ORDER)
    values (#{klcId,jdbcType=DECIMAL}, #{klcName,jdbcType=VARCHAR}, #{klcParentid,jdbcType=DECIMAL}, 
      #{klcOrder,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.tstar.callcenter.model.autogenerate.KnowledgeClass" >
  <selectKey resultType="long" keyProperty="klcId" order="BEFORE" >
      select T_CC_KL_CLASS_SEQ.nextval from dual
    </selectKey>
    insert into T_CC_KL_CLASS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="klcId != null" >
        KLC_ID,
      </if>
      <if test="klcName != null" >
        KLC_NAME,
      </if>
      <if test="klcParentid != null" >
        KLC_PARENTID,
      </if>
      <if test="klcOrder != null" >
        KLC_ORDER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="klcId != null" >
        #{klcId,jdbcType=DECIMAL},
      </if>
      <if test="klcName != null" >
        #{klcName,jdbcType=VARCHAR},
      </if>
      <if test="klcParentid != null" >
        #{klcParentid,jdbcType=DECIMAL},
      </if>
      <if test="klcOrder != null" >
        #{klcOrder,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tstar.callcenter.model.autogenerate.KnowledgeClassExample" resultType="java.lang.Integer" >
    select count(*) from T_CC_KL_CLASS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_CC_KL_CLASS
    <set >
      <if test="record.klcId != null" >
        KLC_ID = #{record.klcId,jdbcType=DECIMAL},
      </if>
      <if test="record.klcName != null" >
        KLC_NAME = #{record.klcName,jdbcType=VARCHAR},
      </if>
      <if test="record.klcParentid != null" >
        KLC_PARENTID = #{record.klcParentid,jdbcType=DECIMAL},
      </if>
      <if test="record.klcOrder != null" >
        KLC_ORDER = #{record.klcOrder,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_CC_KL_CLASS
    set KLC_ID = #{record.klcId,jdbcType=DECIMAL},
      KLC_NAME = #{record.klcName,jdbcType=VARCHAR},
      KLC_PARENTID = #{record.klcParentid,jdbcType=DECIMAL},
      KLC_ORDER = #{record.klcOrder,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tstar.callcenter.model.autogenerate.KnowledgeClass" >
    update T_CC_KL_CLASS
    <set >
      <if test="klcName != null" >
        KLC_NAME = #{klcName,jdbcType=VARCHAR},
      </if>
      <if test="klcParentid != null" >
        KLC_PARENTID = #{klcParentid,jdbcType=DECIMAL},
      </if>
      <if test="klcOrder != null" >
        KLC_ORDER = #{klcOrder,jdbcType=DECIMAL},
      </if>
    </set>
    where KLC_ID = #{klcId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tstar.callcenter.model.autogenerate.KnowledgeClass" >
    update T_CC_KL_CLASS
    set KLC_NAME = #{klcName,jdbcType=VARCHAR},
      KLC_PARENTID = #{klcParentid,jdbcType=DECIMAL},
      KLC_ORDER = #{klcOrder,jdbcType=DECIMAL}
    where KLC_ID = #{klcId,jdbcType=DECIMAL}
  </update>
</mapper>