<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tstar.callcenter.dao.autogenerate.KnowledgeMapper">
  <resultMap id="BaseResultMap" type="com.tstar.callcenter.model.autogenerate.Knowledge">
    <id column="KL_ID" jdbcType="DECIMAL" property="klId" />
    <result column="KL_TITLE" jdbcType="VARCHAR" property="klTitle" />
    <result column="KLC_ID" jdbcType="DECIMAL" property="klcId" />
    <result column="KL_FILE_URL" jdbcType="VARCHAR" property="klFileUrl" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.tstar.callcenter.model.autogenerate.Knowledge">
    <result column="KL_CONTENT" jdbcType="CLOB" property="klContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    KL_ID, KL_TITLE, KLC_ID, KL_FILE_URL
  </sql>
  <sql id="Blob_Column_List">
    KL_CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.tstar.callcenter.model.autogenerate.KnowledgeExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_CC_KL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.tstar.callcenter.model.autogenerate.KnowledgeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_CC_KL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_CC_KL
    where KL_ID = #{klId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from T_CC_KL
    where KL_ID = #{klId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.tstar.callcenter.model.autogenerate.KnowledgeExample">
    delete from T_CC_KL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tstar.callcenter.model.autogenerate.Knowledge">
    insert into T_CC_KL (KL_ID, KL_TITLE, KLC_ID, 
      KL_FILE_URL, KL_CONTENT)
    values (#{klId,jdbcType=DECIMAL}, #{klTitle,jdbcType=VARCHAR}, #{klcId,jdbcType=DECIMAL}, 
      #{klFileUrl,jdbcType=VARCHAR}, #{klContent,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.tstar.callcenter.model.autogenerate.Knowledge">
    <selectKey resultType="long" keyProperty="klId" order="BEFORE" >
      select T_CC_KL_SEQ.nextval from dual
    </selectKey>
    insert into T_CC_KL
    <trim prefix="(" suffix=")" suffixOverrides=",">
        KL_ID,
      <if test="klTitle != null">
        KL_TITLE,
      </if>
      <if test="klcId != null">
        KLC_ID,
      </if>
      <if test="klFileUrl != null">
        KL_FILE_URL,
      </if>
      <if test="klContent != null">
        KL_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="klId != null">
        #{klId,jdbcType=DECIMAL},
      </if>
      <if test="klTitle != null">
        #{klTitle,jdbcType=VARCHAR},
      </if>
      <if test="klcId != null">
        #{klcId,jdbcType=DECIMAL},
      </if>
      <if test="klFileUrl != null">
        #{klFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="klContent != null">
        #{klContent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tstar.callcenter.model.autogenerate.KnowledgeExample" resultType="java.lang.Integer">
    select count(*) from T_CC_KL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update T_CC_KL
    <set>
      <if test="record.klId != null">
        KL_ID = #{record.klId,jdbcType=DECIMAL},
      </if>
      <if test="record.klTitle != null">
        KL_TITLE = #{record.klTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.klcId != null">
        KLC_ID = #{record.klcId,jdbcType=DECIMAL},
      </if>
      <if test="record.klFileUrl != null">
        KL_FILE_URL = #{record.klFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.klContent != null">
        KL_CONTENT = #{record.klContent,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update T_CC_KL
    set KL_ID = #{record.klId,jdbcType=DECIMAL},
      KL_TITLE = #{record.klTitle,jdbcType=VARCHAR},
      KLC_ID = #{record.klcId,jdbcType=DECIMAL},
      KL_FILE_URL = #{record.klFileUrl,jdbcType=VARCHAR},
      KL_CONTENT = #{record.klContent,jdbcType=CLOB}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update T_CC_KL
    set KL_ID = #{record.klId,jdbcType=DECIMAL},
      KL_TITLE = #{record.klTitle,jdbcType=VARCHAR},
      KLC_ID = #{record.klcId,jdbcType=DECIMAL},
      KL_FILE_URL = #{record.klFileUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tstar.callcenter.model.autogenerate.Knowledge">
    update T_CC_KL
    <set>
      <if test="klTitle != null">
        KL_TITLE = #{klTitle,jdbcType=VARCHAR},
      </if>
      <if test="klcId != null">
        KLC_ID = #{klcId,jdbcType=DECIMAL},
      </if>
      <if test="klFileUrl != null">
        KL_FILE_URL = #{klFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="klContent != null">
        KL_CONTENT = #{klContent,jdbcType=CLOB},
      </if>
    </set>
    where KL_ID = #{klId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tstar.callcenter.model.autogenerate.Knowledge">
    update T_CC_KL
    set KL_TITLE = #{klTitle,jdbcType=VARCHAR},
      KLC_ID = #{klcId,jdbcType=DECIMAL},
      KL_FILE_URL = #{klFileUrl,jdbcType=VARCHAR},
      KL_CONTENT = #{klContent,jdbcType=CLOB}
    where KL_ID = #{klId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tstar.callcenter.model.autogenerate.Knowledge">
    update T_CC_KL
    set KL_TITLE = #{klTitle,jdbcType=VARCHAR},
      KLC_ID = #{klcId,jdbcType=DECIMAL},
      KL_FILE_URL = #{klFileUrl,jdbcType=VARCHAR}
    where KL_ID = #{klId,jdbcType=DECIMAL}
  </update>
  
</mapper>