<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>/WEB-INF/views/spittles.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/WEB-INF/Spring-servlet.xml</param-value>
 </context-param>
 <servlet>
  	<servlet-name>Spring</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<!-- 表示启动容器时初始化该servlet -->
  	<load-on-startup>1</load-on-startup>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>Spring</servlet-name>
  		<!-- 表示哪些请求需要交给Spring Web MVC处理，/是用来定义默认servlet映射的。也可以如“*.html”表示拦截所有以html为扩展名的请求 -->
  		<url-pattern>/</url-pattern>
  	</servlet-mapping>
  <context-param>   
   <param-name>log4jConfigLocation</param-name>   
   <param-value>/WEB-INF/classes/log4j.properties</param-value>   
</context-param>   
<!-- 定义LOG4J监听器 -->   
<listener>   
   <listener-class>   
org.springframework.web.util.Log4jConfigListener   
   </listener-class>   
</listener> 
</web-app>
